.bannerCarousel {
    border-radius: 7px;
    overflow: hidden;   
}
.card {
    margin: 0 auto; /* Center horizontally */
    float: none; /* Remove any float */
}
.created{
    font-size: 14px;
    color: #a2a2a2;
}
.card-body p{
    margin-bottom: 5px;
}